<div class="row">
    <div class="col-md-3 left-sidebar">
      <div class="list-group">
        <a href="#" class="list-group-item list-group-item-action disabled">
    Ejemplos
  </a>
        <a [routerLink]="['datepicker']" routerLinkActive="active" href="#" class="list-group-item list-group-item-action">Date picker</a>
        <a [routerLink]="['datetimepicker']" routerLinkActive="active" href="#" class="list-group-item list-group-item-action">Date picker + Tiempo</a>
        <a [routerLink]="['rangepicker']" routerLinkActive="active" href="#" class="list-group-item list-group-item-action">Date Picker Rango</a>
        <a [routerLink]="['simpledatepicker']" routerLinkActive="active" href="#" class="list-group-item list-group-item-action">Simple</a>
      </div>
    </div>
    <div class="col center-content">
      <router-outlet></router-outlet>
    </div>
</div>   
